@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .flex::before,
    .flex::after {
        display: none !important;
    }
    
    body{
        @apply bg-blue-10 font-base
    }
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.dragscroll {
    cursor: grab;
}

.navbar-1-1 #menu-toggle:checked+#menu,
.navbar-1-1 #menu-toggle:checked+#menu+#menu {
    display: block;
}

.align-sub {
    vertical-align: sub;
}

@media only screen and (min-width: 992px) {
    .hero-bg {
        background-image: url('../images/hero-bg.svg');
    }
    .cta-bg {
        background-image: url('../images/cta-bg.svg');
        background-position: center top;
    }
}

@layer components{
    .accordion-header{
        @apply py-4 px-6 cursor-pointer
    }

    .accordion-header.active i {
        @apply transition-all ease-in-out duration-500;
        transform: rotateX(180deg)
    }

    .accordion-body{
        @apply max-h-0 overflow-hidden transition-all duration-200 ease-out
    }

    .card{
        @apply bg-white relative p-6 rounded-[26px] flex flex-col gap-y-4 md:max-w-[500px]
    }

    .input-field{
        @apply placeholder:text-gray-70 text-black py-[11px] px-6 rounded-[100px] outline outline-[1.4px]  outline-gray-70 focus:outline-primary-blue
    }

    .btn{
        @apply rounded-full py-[11px] px-9 font-semibold text-center capitalize
    }

    .btn-primary{
        @apply bg-primary-blue text-white
    }

}

@layer utilities{
    .form-group{
        @apply flex flex-col gap-2
    }

    .nav-link{
        @apply p-[11px] flex items-center gap-4
    }

    .nav-link.active {
        @apply text-primary-blue font-semibold
    }

    .nav-link.active img{
        @apply brightness-0 invert
    }

    .form-icon-search{
        @apply sm:bg-[url('../assets/svgs/ic-search.svg')] bg-no-repeat bg-[center_right_24px]
    }

    .form-icon-chevron_down{
        @apply bg-[url('../assets/svgs/ic-chevron-down.svg')] bg-no-repeat bg-[center_right_24px]
    }

    .notification-dot{
        @apply after:content-end after:bg-green-500 after:w-[6px] after:h-[6px] after:absolute after:z-30 after:rounded-full after:top-[12px] after:right-[15px]
    }

    .union-images img, .union-images span{
        @apply outline outline-2 outline-white w-9 h-9 -ml-2 first:ml-0 rounded-full
    }
}
