@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.dragscroll {
    cursor: grab;
}

.navbar-1-1 #menu-toggle:checked+#menu,
.navbar-1-1 #menu-toggle:checked+#menu+#menu {
    display: block;
}

.align-sub {
    vertical-align: sub;
}

@media only screen and (min-width: 992px) {
    .hero-bg {
        background-image: url('../images/hero-bg.svg');
    }
    .cta-bg {
        background-image: url('../images/cta-bg.svg');
        background-position: center top;
    }
}

@layer components{
    .accordion-header{
        @apply py-4 px-6 cursor-pointer
    }

    .accordion-header.active i {
        @apply transition-all ease-in-out duration-500;
        transform: rotateX(180deg)
    }

    .accordion-body{
        @apply max-h-0 overflow-hidden transition-all duration-200 ease-out
    }
}